@import "7.css/dist/gui/searchbox.css";
@import "7.css/dist/gui/button.css";

$color_1: #fff;
$font-family_1: Segoe UI, sans-serif;
$background-color_1: var(--aero-accent);

@keyframes taskbar-icon-appear {
	0% {
		opacity: 0;
		width: 0px;
	}
	to {
		opacity: 1;
	}
}
.tray-icons {
	width: 16px;
	height: 16px;
	margin-right: 12px;
}
.tray-items {
	display: flex;
	align-items: center;
}
.aero-peek {
	height: 40px;
	width: 13px;
	background: linear-gradient(130deg, rgba(255, 255, 255, 0.238) 25%, rgba(0, 0, 0, 0) 35%), linear-gradient(180deg, rgba(255, 255, 255, 0.27) 0%, rgba(0, 0, 0, 0.15) 100%);
	box-shadow: inset 0 0 0 1px var(--aero-white);
	border: solid thin var(--aero-black);
}
.time-container {
	color: $color_1;
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: -0.3px;
	margin-left: 2px;
	margin-right: 8px;
	line-height: 18px;
}
* {
	font-family: $font-family_1;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 9pt;
	cursor: url(cursors/default.cur), auto;
}
&:root {
	--aero-white: #ffffff7a;
	--aero-black: #000000bd;
	--saturation: 43%;
	--brightness: 65%;
	--intensity: 50%;
	--aero-color: rgba(116, 184, 252, calc(0.7 * var(--intensity)));
	--aero-accent: color-mix(in srgb, #000, color-mix(in srgb, var(--aero-color) var(--saturation), transparent) var(--brightness));
}
body {
	overflow: hidden;
	margin: 0;
}
.start {
	cursor: url(cursors/link_select.cur), pointer;
}
.taskbar {
	z-index: 999999999999999999;
	position: absolute;
	top: 0;
	height: 40px;
	width: 100vw;
}
.taskbar.fg {
	background: url(assets/glass.png) center center / cover no-repeat;
	background-attachment: local;
	outline: solid thin var(--aero-black);
	box-shadow: inset 0 1px 0 0 var(--aero-white);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.taskbar.bg {
	background-color: $background-color_1;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}
.left {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.right {
	position: absolute;
	right: 0;
}
.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.start-button {
	width: 0px;
	height: 48px;
	position: relative;
	>* {
		position: absolute;
	}
}
.start-hover {
	opacity: 0;
	transition: 0.3s linear opacity;
	&:hover {
		opacity: 1;
	}
}
.taskbar-icon {
	width: 58px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(141deg, #ffffffc9 0%, #ded6d6ac 40%, #c4c4c485 50%, #c5c0c031 80%);
	height: 40px;
	outline: solid thin var(--aero-black);
	box-shadow: inset 0 0 0 1px var(--aero-white);
	position: relative;
	animation: 0.4s cubic-bezier(0.19, 1, 0.22, 1) forwards taskbar-icon-appear;
	>img {
		width: 36px;
		z-index: 10;
		pointer-events: none;
	}
}
.taskbar-icons {
	display: flex;
	gap: 3px;
	margin-left: 58px;
}
.desktop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	pointer-events: none;
}