<div class="desktop"></div>
<div class="taskbar fg">
	<div class="taskbar bg"></div>
	<div class="left">
		<div class="start start-button" [routerLink]="['/home']">
			<img class="start start-normal" src="assets/taskbar/images/start-normal.png" title="Start">
			<img class="start start-hover" src="assets/taskbar/images/start-hover.png" title="Start">
		</div>
		<div class="taskbar-icons">
			<div class="taskbar-icon"><img [src]="taskbarIconSrc"></div>
		</div>
	</div>
	<div class="center">
		<input type="search" #searchInput placeholder="Search" (keyup.enter)="onSearchClick(searchInput.value)"/>
	</div>
	<div class="right">
		<div class="tray-items">
			<img title="Recycle Bin" class="tray-icons" src="assets/taskbar/icons/recycle_bin.ico" alt="Recycle Bin" (click)="navigateTo('recycle-bin')">
			<img title="User Account" class="tray-icons" src="assets/taskbar/icons/user.ico" alt="User Account" (click)="navigateTo('login')">
			<div class="time-container">
				<div>{{ currentTime }}</div>
				<div>{{ currentDate }}</div>
			</div>
			<div class="aero-peek"></div>
		</div>
	</div>
</div>
