Backend/HELP.md
Frontend/README.md
target/
**/.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
Backend/mvnw
Backend/mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
Frontend/.vscode/
Frontend/.history/*

# Node
Frontend/node_modules/*
Frontend/npm-debug.log
Frontend/yarn-error.log

# Compiled output
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out

# Miscellaneous
Frontend/.angular/cache
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings
node_modules/
