HELP.md
Frontend/README.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
Frontend/.vscode/

# Node
src/frontend/RetroBasedFrontend/node_modules
src/frontend/RetroBasedFrontend/npm-debug.log
src/frontend/RetroBasedFrontend/yarn-error.log

# Compiled output
src/frontend/RetroBasedFrontend/dist
src/frontend/RetroBasedFrontend/tmp
src/frontend/RetroBasedFrontend/out-tsc
src/frontend/RetroBasedFrontend/bazel-out

# Miscellaneous
src/frontend/RetroBasedFrontend/.angular/cache
src/frontend/RetroBasedFrontend/.sass-cache/
src/frontend/RetroBasedFrontend/connect.lock
src/frontend/RetroBasedFrontend/coverage
src/frontend/RetroBasedFrontend/libpeerconnection.log
src/frontend/RetroBasedFrontend/testem.log
src/frontend/RetroBasedFrontend/typings
