<div style="right: 92.200px;" class="notificationPosition">
    <div class="notificationContainer" style="animation: none;">
        <img class="triangle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAMAAACO0hVbAAAA7GlDQ1BzUkdCAAAYlZWQP0/CUBRHz6MC0UAYIIaxg6PG1ZE/AwuR0DhQHExbWxaF5vUl8AWIswsrcfIb6O7qYkLixIcgapjJK0M7qIQz3Jz87h3uvSDeATI1uB8qabUaZs/um6RwvCjkbwSsP3WFxVlX5fL/zP7GoezZfWAFVAaxiwPt7tar2scqVCBOtXuh1F4DCvLKaoJoA+Yg5W7Kb/3IA3EH3CS3jeZw8QPGY5K5M3h9gOoyyU6eoDSFl0WSfXfie8Xxm/InSieX53VCRzpx29APDQL4eoaiDeUPOLre7hGTjaxWY88/7WIDaJE2faIVQlUAAAAVUExURQAAAOrr9AAAAOnp8ufo8uXm8AAAAGVo3nwAAAAHdFJOU///AP///wDQL8TKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAR0lEQVQYlW3QMRKAMAzEQAXI/7/M2AmO7waVW4rLA37IDaYbTLcgsyS1RWLwZM0+alZ07FAZ3NW2TtuElimlGYXB0OLWcHsBACoCycC7vxAAAAAASUVORK5CYII=">
        <div class="notificationContent">
            <img class="notificationIcon" src="icons/info.ico">
            <div class="notificationText">
                <h2 class="notificationHeader">{{header}}</h2>
                <div>{{notificationText}}</div>
            </div>
        </div>
    </div>
</div>