@import "../shared/styles/window";

$color_1: #000;
$color_2: #fff;
$color_3: #6d6d6d;
$color_4: #1e395b;
$color_5: inherit;
$color_6: initial;
$color_7: #0c12a1;
$background-color_1: #ffffffab;
$background-color_2: #fcfcfc;
$background-color_3: #39f;
$background-color_4: #ffffff;
$border-color_1: #b8d6fb;
$border-left-color_1: currentcolor;

:root {
	--menu-padding: 2px;
	--item-offset-left: 30px;
	--item-hover-background: linear-gradient(180deg,#fff9,#e6ecf5cc 90%,#fffc);
}
._window-frame {
	transform-origin: center center;
	transform: none;
	box-shadow: 0 0 1px 0.1px #000000c3, inset 0 0 0 1px var(--aero-black), inset 0 0 0 2px #d9e2eb;
	background: linear-gradient(-139deg, rgba(135, 173, 190, 0.47) 0%, rgba(0, 0, 0, 0) 25%), var(--aero-accent);
	border-radius: 6px;
	position: absolute;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	overflow: hidden;
}
._windowFrameGradientLeft {
	background: linear-gradient(139deg, rgba(255, 255, 255, 0.568) 0%, rgba(255, 255, 255, 0.192) 25%, rgba(0, 0, 0, 0) 50%);
	width: 256px;
	height: 256px;
	position: absolute;
	left: 0;
	border-top-left-radius: 6px;
}
._windowFrameGradientRight {
	background: linear-gradient(-139deg, rgba(255, 255, 255, 0.315) 0%, rgba(255, 255, 255, 0.192) 25%, rgba(0, 0, 0, 0) 50%);
	width: 256px;
	height: 256px;
	position: absolute;
	right: 0;
	border-top-right-radius: 6px;
}
._title-bar {
	display: flex;
	align-items: center;
	padding: 0 8px;
	flex-direction: row;
	width: calc(100% - 17px);
	position: absolute;
	height: 28px;
	z-index: 1000;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
}
._window-buttons {
	display: flex;
	border-radius: 4px;
	border: solid thin #d9e2eb;
	border-top: none;
	position: relative;
}
._window-button {
	&:first-child {
		border-bottom-left-radius: 4px;
	}
	&:last-child {
		border-bottom-right-radius: 4px;
	}
	position: relative;
	height: 18px;
	margin-top: 1px;
	background: var(--button-gradient-minimize);
	width: 28px;
	border: solid thin var(--aero-black);
	box-shadow: inset 0 0 0 1px var(--aero-white);
	border-top: none;
	transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	image-rendering: pixelated;
	&:hover {
		box-shadow: inset 0 0 0 1px var(--aero-white), 0 0 15px 10px #61cdfb5b;
		background: linear-gradient(180deg, rgba(183, 218, 242, 1) 0%, rgba(155, 202, 230, 1) 41%, rgba(39, 160, 201, 1) 41%, rgba(34, 167, 177, 1) 100%) !important;
	}
	&:active {
		box-shadow: inset 0 0 0 1px var(--aero-white);
		background: linear-gradient(180deg, rgba(161, 187, 204, 1) 0%, rgba(94, 147, 170, 1) 41%, rgba(13, 76, 102, 1) 41%, rgba(18, 202, 189, 1) 100%) !important;
	}
	&:not(:first-child) {
		margin-left: -1px;
	}
	&:after {
		width: 100%;
		height: 100%;
		position: absolute;
		content: "";
	}
}
._window-button.close {
	width: 48px;
	background: linear-gradient(180deg, rgba(216, 162, 159, 1) 0%, rgba(186, 113, 110, 1) 41%, rgba(164, 57, 47, 1) 41%, rgba(200, 118, 97, 1) 100%);
	&:hover {
		box-shadow: inset 0 0 0 1px var(--aero-white), 0 0 15px 10px #fda0899b;
		background: linear-gradient(180deg, rgba(230, 152, 140, 1) 0%, rgba(215, 109, 93, 1) 41%, rgba(164, 25, 6, 1) 41%, rgba(230, 148, 47, 1) 94%, rgba(245, 232, 119, 1) 99%) !important;
	}
	&:after {
		background: url("/assets/window/images/close-button.png") no-repeat center center;
	}
}
._window-button.minimize {
	background: var(--button-gradient-minimize);
	&:after {
		background: url("/assets/window/images/minimize-button.png") no-repeat center center;
	}
}
._buttonContainer {
	position: absolute;
	right: 7px;
	box-sizing: border-box;
	top: 0;
	background: #ffffff36;
	border-radius: 5px;
}
._searchContainer {
	background-color: $background-color_1;
	border: solid thin var(--aero-black);
	outline: solid thin var(--aero-white);
	box-shadow: inset 0 0 0 1px #eef4f9;
	color: $color_1;
	padding: 4px;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	height: 14px;
}
._window {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 6px;
}
._windowContent {
	box-sizing: border-box;
	padding: 1px;
	z-index: 9999;
	width: 100%;
	background-color: $background-color_2;
	outline: solid thin var(--aero-white);
	box-shadow: inset 0 0 0 1px var(--aero-black);
}
._titleBarElements {
	* {
		pointer-events: auto;
		border-radius: 2px;
	}
	width: 100%;
	margin-bottom: 4px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
}
._titleBarExtension {
	display: flex;
	align-items: flex-end;
	pointer-events: none;
	position: relative;
	z-index: 9999;
}
._titleBarNavigationButton {
	width: 28px;
	height: 28px;
	&:first-child {
		background-image: url('/assets/cart/images/back-button.png');
	}
	&:last-child {
		background-image: url('/assets/cart/images/forward-button.png');
	}
}
._search {
	height: 26px;
	width: 240px;
	margin-left: 6px;
	background-color: $background-color_1;
	border: solid thin var(--aero-black) !important;
	border-radius: 2px;
	outline: solid thin var(--aero-white) !important;
	box-shadow: inset 0 0 0 1px #eef4f9 !important;
	padding: 0 6px;
	box-sizing: border-box;
	&::placeholder {
		opacity: 1;
	}
}
._toolbarLarge {
	width: 100%;
	background: linear-gradient(0deg, rgba(145, 155, 180, 0.458) 0%, #fff0 15%), linear-gradient(180deg, rgb(254, 254, 255) 0%, rgb(229, 234, 245) 50%, rgb(212, 219, 237) 30%, rgb(225, 230, 246) 100%);
	height: 32px;
	box-shadow: inset 0 -1px #b6bccc;
}
._sidebar {
	margin-top: 0;
	width: 160px;
	border-right: solid thin #d6e5f5;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 9px 18px;
	list-style: none;
	>li {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}
}
._sidebarUlItem {
	display: flex;
	align-items: center;
	gap: 4px;
	width: 94.4%;
	padding: 2px 0;
	padding-left: 18px;
	padding-right: 1px;
	position: relative;
	margin-left: 4.5px;
	border-radius: 2px;
	&:hover {
		outline: solid thin #b8d6fb;
		background: linear-gradient(180deg,#f5fcff 0%,#e4f2fc 100%);
	}
	img {
		height: 14px;
		width: 14px;
	}
}
ul {
	margin-left: -21px;
	[role=menuitem] {
		position: relative;
		>input[type] {
			display: none;
			&:checked+label {
				&:before {
					content: "";
				}
			}
		}
		>input[type]+label {
			display: block;
			position: relative;
			&:before {
				all: unset;
				background: var(--item-hover-background);
				border-radius: inherit;
				box-shadow: 0 0 0 1px #b3d3f9;
				box-sizing: border-box;
				height: 22px;
				left: 0;
				position: absolute;
				top: 0;
				width: 22px;
			}
		}
		>input[type][type=radio] {
			&:checked+label {
				&:after {
					background: radial-gradient(circle at 75% 25%,#d5d4ea,#333583);
					border: 1px solid #1a1490;
					box-shadow: none;
					left: 8px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		>input[type][type=checkbox] {
			&:checked+label {
				&:after {
					color: $color_7;
					font-size: 10pt;
					left: 6px;
					top: 50%;
					transform: translateY(-52%);
				}
			}
		}
		&:focus-within {
            > [role="menu"] {
              display: block;
            }
            
            &:has(~[role="menuitem"]:hover) {
              > [role="menu"] {
                display: none;
              }
            }
        }
		&:focus {
            > [role="menu"] {
              display: block;
            }
          
            &:has(~[role="menuitem"]:hover) {
              > [role="menu"] {
                display: none;
              }
            }
        }
		img {
			left: 2px;
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
		span {
			margin-left: 32px;
		}
	}
	[role=menuitem][aria-disabled] {
		opacity: .5;
		pointer-events: none;
	}
	[role=menuitem].has-divider {
		&:after {
			box-shadow: inset 0 1px #00000026,inset 0 -1px #fff;
			content: "";
			display: block;
			height: 2px;
			margin: 3px 0 2px;
			margin-left: var(--item-offset-left);
			pointer-events: none;
		}
	}
}
li {
	list-style-type: none;
}
* {
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	font: var(--font);
	&::selection {
		background-color: $background-color_3;
		color: $color_2;
	}
}
input[type="text"] {
	border-top: solid thin #abadb3;
	border-left: solid thin #e2e3ea;
	border-bottom: solid thin #e3e9ef;
	border-right: solid thin #dbdfe6;
	outline: none;
	height: 23px;
	box-shadow: inset 0 0 0 1px var(--aero-white);
	&::placeholder {
		font-style: italic;
		color: $color_3;
	}
	&:placeholder-shown {
		background-image: var(--search-icon);
		background-position: calc(100% - 8px);
		background-repeat: no-repeat;
		background-size: 14px;
		height: 23px;
	}
	&:focus {
		background-color: $background-color_4;
		border: solid thin var(--aero-black) !important;
		outline: solid thin var(--aero-white) !important;
	}
}
span {
	font-size: 10.5px;
}
.sub-list {
	li {
		display: flex;
		align-items: center;
		gap: 6px;
		width: 100%;
		height: 20px;
		padding-left: 25px;
		padding-right: 6.2px;
		position: relative;
		margin-left: -14.5px;
		border-radius: 2px;
		&:hover {
			outline: solid thin #b8d6fb;
			background: linear-gradient(180deg,#f5fcff 0%,#e4f2fc 100%);
		}
	}
	img {
		height: 14px;
		width: 14px;
	}
}
._programs {
	display: grid;
	grid-template-columns: 3.7fr 3fr 1fr;
	row-gap: 10px;
    column-gap: 4px;
	box-sizing: border-box;
	padding: 8px;
	align-items: start;
	max-height: 100%;
	margin-left: 20px;

	>.price {
		grid-column: 2;
		align-self: center;
		color: #6d6d6d;
	}
	> input {
		grid-column: 3;
		align-self: center;
	}
}

._rowItem {
	display: flex;
	grid-column: 1;

	>img {
		width: 48px;
		margin-right: 8px;
		align-self: center;
	}

	>.text {
		align-self: center;
		text-align: left;
	}
}

._program._active {
	outline: solid thin #b0c6e1;
	background: linear-gradient(180deg, #daeafd 0%, #bdddfe 100%);
}
ul[role] {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul[role=menubar] {
	display: flex;
	height: 32px;
	>[role=menuitem] {
		cursor: url('/assets/cursors/link_select.cur'), pointer;
		font-size: 10px;
		align-items: center;
		padding-left: 12.5px;
		padding-top: 9px;
		padding-right: 12.5px;
		color: $color_4;
		&:focus {
			background: #39f;
			color: $color_2;
			outline: none;
			&:has(~[role="menuitem"]:hover) {
                background: transparent;
                color: $color_5;
            }
		}
		&:focus-within {
			background: #39f;
			color: $color_2;
			outline: none;
			&:has(~[role="menuitem"]:hover) {
					background: transparent;
					color: $color_5;
			}
		}
		&:hover {
			background: #39f;
			color: $color_2;
			outline: none;
			&:has(~[role="menuitem"]:hover) {
                background: transparent;
                color: $color_5;
            }
		}
		&:focus-within~[role=menuitem] {
			&:focus {
				background: transparent;
				color: $color_5;
			}
			&:focus-within {
				background: transparent;
				color: $color_5;
			}
		}
		&:focus~[role=menuitem] {
			&:focus {
				background: transparent;
				color: $color_5;
			}
			&:focus-within {
				background: transparent;
				color: $color_5;
			}
		}
		&:hover~[role=menuitem] {
			&:focus {
				background: transparent;
				color: $color_5;
			}
			&:focus-within {
				background: transparent;
				color: $color_5;
			}
		}
	}
}
ul[role=menu] {
	background: var(--surface);
	border: 1px solid rgba(0,0,0,.4);
	box-shadow: 4px 4px 3px -2px rgba(0,0,0,.5);
	color: $color_6;
	min-width: 150px;
	padding: var(--menu-padding);
	position: relative;
	&:before {
		box-shadow: inset 1px 0 rgba(0,0,0,.15),inset -1px 0 #fff;
		content: "";
		height: calc(100% - 4px);
		left: var(--item-offset-left);
		pointer-events: none;
		position: absolute;
		width: 2px;
	}
	[role=menuitem] {
		>[role=menu] {
			left: 100%;
			top: -4px;
		}
	}
	>[role=menuitem] {
		>a {
			all: unset;
			border: 1px solid transparent;
			border-radius: 3px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			padding: 4px 10px 4px 32px;
			position: relative;
			white-space: nowrap;
			width: 100%;
			&:focus-visible {
				background: var(--item-hover-background);
				border-color: $border-color_1;
			}
			&:hover {
				background: var(--item-hover-background);
				border-color: $border-color_1;
			}
		}
		>button {
			all: unset;
			border: 1px solid transparent;
			border-radius: 3px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			padding: 4px 10px 4px 32px;
			position: relative;
			white-space: nowrap;
			width: 100%;
			&:focus-visible {
				background: var(--item-hover-background);
				border-color: $border-color_1;
			}
			&:hover {
				background: var(--item-hover-background);
				border-color: $border-color_1;
				&:before {
					content: none;
				}
			}
			&:after {
				content: none;
			}
		}
		>label {
			all: unset;
			border: 1px solid transparent;
			border-radius: 3px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			padding: 4px 10px 4px 32px;
			position: relative;
			white-space: nowrap;
			width: 100%;
			&:focus-visible {
				background: var(--item-hover-background);
				border-color: $border-color_1;
			}
			&:hover {
				background: var(--item-hover-background);
				border-color: $border-color_1;
			}
		}
	}
	>[role=menuitem][aria-haspopup=true] {
		all: unset;
		border: 1px solid transparent;
		border-radius: 3px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		padding: 4px 10px 4px 32px;
		position: relative;
		white-space: nowrap;
		width: 100%;
		&:focus-visible {
			background: var(--item-hover-background);
			border-color: $border-color_1;
		}
		&:hover {
			background: var(--item-hover-background);
			border-color: $border-color_1;
		}
		&:after {
			border: 4px solid transparent;
			border-left-color: $border-left-color_1;
			content: "";
			position: absolute;
			right: 2px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
[role=menuitem] {
	ul[role=menu] {
		display: none;
		left: 0;
		position: absolute;
		top: 100%;
		z-index: 99;
	}
}
ul.can-hover {
	[role=menuitem] {
		&:hover {
			>[role=menu] {
				display: block;
			}
		}
		&:hover~[role=menuitem] {
			&:focus {
				background: transparent;
				color: $color_5;
				>[role=menu] {
					display: none;
				}
			}
			&:focus-within {
				background: transparent;
				color: $color_5;
				>[role=menu] {
					display: none;
				}
			}
		}
	}
}
